<!DOCTYPE html>
<html ng-app>
<head>
    <title>Categories</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="js/angular.min.js"></script>
    <script src="js/categoriesCtrl.js"></script>
</head>
<body ng-controller="CategoriesCtrl">
    <div class="row offset2">
        <h1>Scores</h1>
        <span class="span6">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Player</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="player in gameStatus.players">
                    <td>{{ player.name }}</td>
                    <td>{{ player.points}}</td>
                </tr>
                </tbody>
            </table>
        </span>
    </div>
    <div class="row offset2">
        <h1>Categories</h1>
        <span class="span12">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Points</th>
                    <th>Solved by</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="category in gameStatus.categories">
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.points }}</td>
                    <td>{{ category.answeredBy }}</td>
                </tr>
                </tbody>
            </table>
        </span>
    </div>
</body>
</html>